* {
  margin: 0;
}

#map {
  margin-top: 20px;
  margin-left: 50px;
  padding: 40px;
  height: 80vh;
  width: 80vw;
}

.home {
  text-align: center;
  background-color: #e8e8e8;
}

.header {
  background-color: #87cefa;
  padding: 25px;
}

.header h1 {
  text-decoration: underline;
}
